certifi==2023.11.17
charset-normalizer==3.3.2
i2cdevice==1.0.0
idna==3.6
msgpack==1.0.7
packaging==23.2
pimoroni-bme280==1.0.0
pyserial==3.5
python-can==4.3.1
requests==2.31.0
RPi.GPIO==0.7.1
sip==6.8.1
smbus==1.1.post2
smbus2==0.4.3
spidev==3.6
typing_extensions==4.9.0
urllib3==2.1.0
wrapt==1.16.0
